#portfolio{
    padding: 5em 0;
    width: 100%;
    background-color: $background-color-one;
    .portfolio-container{
         padding: 0;
         @include flex(center,center,none);
         flex-wrap: wrap;
         margin: 3em auto 5em auto;
         width: 95%;
         .port-card{
            width: 25rem;
            height: 35rem;
            background: $background-color-two;
            border: 1px solid white;
            border-radius: 10px;
            margin: 0.75rem;
            transition: 0.3s ease-in-out;
            overflow: hidden;
                .portfolio-img{
                    width: 100%;
                    height: 20em;
                    overflow-y: hidden;
                    border-radius: 5px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                }
                .portfolio-texts{
                    color: white;
                    width: 68%;
                    margin: 0 auto;
                    text-align: center;
                        h3{
                            font-size: 28px;
                            font-weight:600;
                            margin: 1rem 0;
                        }
                        .description-live{
                            p{
                                font-size: 15px;
                                line-height: 1.35rem;
                                font-weight: 300;
                                color: rgba(white,0.6);
                                margin-bottom: 1rem;
                            }
                            .live-demo{
                                font-size: 1.2rem;
                                font-family: 'Prompt', sans-serif;
                                font-weight: 300;
                                color: white;
                                cursor: pointer;
                                padding: 0.5em 1em;
                                border-radius: 10px;
                                background: $background-color-one;
                                border: 1px solid rgba(white,0.2);

                                span{
                                    position: relative;
                                    font-size: 2rem;
                                    top: 8.5px;
                                }
                                &:hover{
                                    color: $logocolor;
                                } 
                            } 
                  }
                  
              }
         }
    }
}
@media screen and (max-width: 1280px) {
    #portfolio{
        .portfolio-container{
            .port-card{
                width: 25rem;
                height: 35rem;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    #portfolio{
        .portfolio-container{
            .port-card{
                width: 22rem;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    #portfolio{
        .portfolio-container{
            .port-card{
                width: 20em;
                height: auto;
                padding-bottom: 1.25rem;
                .portfolio-texts{
                    h3{
                        margin: 1.5rem 0;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}