#skills{
    padding: 4rem 0 2.5rem 0;
    background-color: $background-color-one;
   .skills-container{
       width: 100%;
       padding: 0 10%;
       .skills-list{
          @include flex(none,center,none);
          flex-wrap: wrap;
          margin : 3rem auto;
          row-gap: 1.5rem;
          width: 90%;
            .card{
                width: fit-content;
                padding: 0 1rem;
                background: black;
                border: 1px solid rgba(white,0.3);
                border-radius: 0.5rem;
                margin: 0.5rem;
                transition: 0.25s ease-in-out;
                @include flex(center,none,column);
                position: relative;
                 .skill-name{
                    position: absolute;
                    font-size: 12px;
                    color: white;
                    background: rgb(0, 119, 119);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    top: -2.1rem;
                    text-align: center;
                    width: 6rem;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    border: 1px solid rgba(white,0.3);
                 }
                 .skill-logo{
                     margin: 1em 0;
                     width: 60px;
                     height: 60px;
                     object-fit: contain;
                 }
                 &:hover{
                     background: rgb(0, 119, 119);
                     .skill-title{
                        color: rgba($white,1);
                     }
                     .skill-name{
                        display: block;
                        opacity: 1;
                     }
                 }
            }
       }
   }      
}
@media screen and (max-width: 480px) {
    #skills{
        padding: 2em 0em;
        .skills-container{
            .skills-list{
                .card{
                    .skill-title{
                        font-size: 20px;
                    }
                    .skill-logo{
                        margin: 0.5em 0;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}